:root{
    --title-color:#212121;
    --text-color:#757575;
    --accent-color:#2196F3;
    --neutral-color:#fff;
    --logo-color:#2F303A;
    --neutral-bgc: #F5F4FA;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--title-color);
    background-color: var(--neutral-color);
    letter-spacing: 0.03em;
    font-size: 14px;
    }

address{
font-style: normal;
line-height: 1.71;
letter-spacing: 0.03em;
}

ul{
    list-style: none;
}

/**************************** Nav */
.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
 }
.accent {
    color: var(--logo-color);
}
.site-nav .link.current{
    color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus,
.adress:hover,
.adress:focus {
    color: var(--accent-color);
}
.site-nav .link{
    color: var(--title-color);
    font-weight: 500;
    line-height: 1.1;
    text-decoration: none;
}
.contact-nav .link{
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.1;
    text-decoration: none;
}

/**************************** Order */
.order {
    background-color: var(--logo-color);
}
.order-title {
    color: var(--neutral-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.order-link {
    font-family: inherit;
    background: var(--accent-color);
    color: var(--neutral-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor:pointer
}
.order-link:hover {
    color: var(--neutral-color);
}
/**************************** Features */
.title{
    color: --var(--title-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}
.text{
    color: var(--text-color);
    line-height: 1.71;
    /* or 171% */
}
/**************************** Services */
.section-services .title-services{
    color: var(--title-color);
}
.title-services {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
/**************************** Team */
.section-team {
    background-color:var(--neutral-bgc);
}
.team-title{
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.name-title{
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team-text{
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
/************************ Footer */
.footer {
    background-color: var(--logo-color);
}
.accent-footer,
.adress{
    color: var(--neutral-color);
    text-decoration: none;
}
    
/*********************** Buttons */

.button{
    font-family: 'Roboto',
    sans-serif;
    background-color: var(--neutral-bgc);
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
}
.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color:var(--neutral-color);
    cursor:pointer;
}
.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
}
.project-text{
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.86;
    
}





 